In [1]:
import pandas as pd

In [10]:
custom = pd.read_csv('C:/Users/sominseob/Desktop/GH/project/Custom.csv')
# 회원: 클라이언트 ID, 성별, 연령대 - 내가 맡아서 알아오기
# 아웃라이어 날리고, 정규표현식 같은거 사용해서 한글 날리고, 연령대별로 유저 수 찾기 
# master = pd.read_csv('C:/Users/Carta/Desktop/GH/Master.csv')
# # 상품분류: 상품코드, 상품명, 상품 대분류명, 상품 중분류명, 상품 소분류명
# product = pd.read_csv('C:/Users/Carta/Desktop/GH/Product.csv')
# # 상품구매: 클라이언트 ID, 세션 ID, 히트일련번호, 상품코드, 상품추가정보, 상품브랜드, 단일상품금액, 구매건수 
# search1 = pd.read_csv('C:/Users/Carta/Desktop/GH/Search1.csv')
# # 검색어 1: 클라이언트 ID, 세션ID, 검색키워드명, 검색건수 
# search2 = pd.read_csv('C:/Users/Carta/Desktop/GH/Search2.csv')
# # 검색어 2: 세션일자, 검색키워드명, 검색건수
session = pd.read_csv('C:/Users/sominseob/Desktop/GH/project/Session.csv')
# # 세션: 클라이언트 ID, 세션 ID, 세션일련번호, 세션일자, 총페이지조회건수, 총세션시간값, 기기유형, 지역대분류, 지역중분류

In [11]:
session

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon
1,5873599,6616320,21,20180611,105.0,"1,604",mobile,Busan,Busan
2,5873599,5886172,40,20180624,41.0,632,mobile,Daejeon,Daejeon
3,5873884,1050889,15,20180913,160.0,"1,035",mobile,Gyeonggi-do,Anyang
4,5874461,10298270,5,20180412,13.0,298,mobile,Seoul,Seoul
5,5874701,608577,65,20180920,41.0,444,mobile,Seoul,Seoul
6,5874829,1666766,87,20180903,36.0,340,mobile,Seoul,Seoul
7,5874829,1670494,86,20180903,103.0,976,mobile,Seoul,Seoul
8,5874829,1694242,85,20180902,154.0,"3,099",mobile,Seoul,Seoul
9,5874829,1559438,92,20180904,24.0,317,mobile,Seoul,Seoul
10,5874900,10229983,7,20180413,207.0,"4,143",mobile,Seoul,Seoul
11,5874907,10855,2,20180930,4.0,263,desktop,Gyeongsangbuk-do,Gumi-si
12,5876333,348698,16,20180925,159.0,786,mobile,Seoul,Seoul
13,5876333,456326,15,20180923,160.0,"1,038",mobile,Jeollabuk-do,Buan-gun
14,5876333,584142,13,20180920,33.0,312,mobile,Seoul,Seoul
15,5876382,2141725,17,20180825,72.0,"1,104",mobile,Seoul,Seoul
16,5876382,4493736,5,20180716,42.0,666,mobile,Seoul,Seoul
17,5876601,6940393,47,20180606,38.0,288,mobile,Seoul,Seoul
18,5876630,1511171,156,20180905,104.0,689,mobile,Seoul,Seoul
19,5876630,223471,165,20180927,77.0,861,mobile,Seoul,Seoul
20,5876800,8513782,366,20180511,53.0,"1,022",mobile,Chungcheongbuk-do,Cheongju-si
21,5876800,7153099,429,20180603,174.0,"2,019",mobile,Seoul,Seoul
22,5876800,7904215,397,20180521,188.0,860,mobile,Chungcheongbuk-do,Cheongju-si
23,5876800,3836347,491,20180727,122.0,459,mobile,Seoul,Seoul
24,5876800,3627244,500,20180731,95.0,673,mobile,Seoul,Seoul
25,5876800,6785647,437,20180609,61.0,159,mobile,Chungcheongbuk-do,Cheongju-si
26,5876800,8603946,362,20180510,128.0,949,mobile,Chungcheongbuk-do,Cheongju-si
27,5876800,3197247,517,20180807,157.0,"1,216",mobile,Seoul,Seoul
28,5876800,2310513,533,20180822,108.0,888,mobile,Seoul,Seoul
29,5876912,447981,36,20180923,23.0,756,mobile,Seoul,Seoul
...,...,...,...,...,...,...,...,...,...
2712877,3555832,9296481,298,20180428,338.0,"3,803",mobile,Seoul,Seoul
2712878,3552243,857890,70,20180916,55.0,541,mobile,Incheon,Incheon
2712879,3553256,8128228,13,20180518,39.0,341,mobile,Seoul,Seoul
2712880,3559213,8566684,167,20180510,107.0,"1,014",mobile,Incheon,Incheon
2712881,3557770,5692621,377,20180627,60.0,"2,236",mobile,Gangwon-do,Wonju-si
2712882,3557770,6833734,364,20180608,104.0,"1,960",mobile,Gangwon-do,Wonju-si
2712883,3558515,8027926,199,20180519,18.0,488,mobile,Busan,Busan
2712884,3561571,8410485,363,20180513,123.0,"3,436",mobile,Gyeongsangnam-do,Gimhae-si
2712885,3569154,8031581,103,20180519,152.0,"1,291",mobile,Jeollabuk-do,Jeonju-si
2712886,3566040,7612581,103,20180526,56.0,705,mobile,Gyeongsangnam-do,Gimhae-si
2712887,3566629,6375372,95,20180615,48.0,273,mobile,Seoul,Seoul
2712888,3568487,7191536,346,20180602,41.0,441,mobile,Busan,Busan
2712889,3570334,5602994,2,20180628,112.0,"2,611",mobile,Gyeongsangbuk-do,Andong
2712890,3642165,2189979,3,20180824,29.0,"1,004",desktop,Gyeonggi-do,Ansan-si
2712891,3642354,4493999,83,20180716,66.0,"1,719",mobile,Gwangju,Gwangju
2712892,3643587,10083218,12,20180415,130.0,"6,203",desktop,Ulsan,Ulsan
2712893,3646640,6166681,16,20180619,106.0,"2,177",mobile,Busan,Busan
2712894,3570720,4098757,500,20180723,265.0,"2,246",mobile,Daegu,Daegu
2712895,3570720,3848780,515,20180727,56.0,"1,039",mobile,Busan,Busan
2712896,3570720,5868666,454,20180624,84.0,"1,589",mobile,Daegu,Daegu
2712897,3497799,8205641,1,20180516,85.0,"1,828",desktop,Daejeon,Daejeon
2712898,3492307,2983998,25,20180811,29.0,419,mobile,Gwangju,Gwangju
2712899,3499525,259993,2,20180926,50.0,"2,477",desktop,Chungcheongbuk-do,Jecheon-si
2712900,3490918,1573185,16,20180904,50.0,"1,546",mobile,Busan,Busan
2712901,3494680,9458833,488,20180425,29.0,237,mobile,Gyeonggi-do,Gimpo-si
2712902,3500464,8713975,308,20180508,71.0,423,mobile,Seoul,Seoul
2712903,3501155,4636571,86,20180714,44.0,"2,090",desktop,Seoul,Seoul
2712904,3501397,582632,128,20180920,164.0,"2,435",mobile,Seoul,Seoul
2712905,3573271,2328407,9,20180822,5.0,986,desktop,Busan,Busan
2712906,3573758,8702345,17,20180508,18.0,373,desktop,Chungcheongbuk-do,Cheongju-si

In [3]:
custom

        CLNT_ID CLNT_GENDER  CLNT_AGE
0       4830726           F        30
1       4830874           F        40
2       4830975           F        30
3       4831275           F        30
4       4825325           F        30
5       4825382           F        40
6       4825797           F        40
7       4825908           F        30
8       4825961           F        30
9       4840532           M        40
10      4840825           F        10
11      4843304           F        30
12      4843591           F        30
13      4843997           F        30
14      4846369           F        30
15      4846380           F        20
16      4846440           M        40
17      4846511           M        40
18      4846738           F        20
19      4846869           F        30
20      4847147           F        20
21      4839353           F        30
22      4839427           F        30
23      4839489           F        40
24      4839742           F        30
25      4839795           F        40
26      4839826           F        40
27      4849242           M        20
28      4849302           F        30
29      4841127           F        20
...         ...         ...       ...
671649  3716232           F        20
671650  3718878           F        30
671651  3719043           F        20
671652  3719284           F        30
671653  3719450           F        20
671654  3719557           F        30
671655  3722059           F        40
671656  3722149           F        30
671657  3722238           F        30
671658  3722352           F        40
671659  3724381           F        30
671660  3724753           F        30
671661  3724812           M        20
671662  3724842           F        20
671663  3717101           F        40
671664  3720346           F        30
671665  3720349           F        30
671666  3720442           F        20
671667  3720555           M        40
671668  3722969           F        40
671669  3723092           F        30
671670  3723190           F        30
671671  3723318           F        40
671672  3723497           F        40
671673  3725195           F        30
671674  3725302           F        40
671675  3725462           M        40
671676  3725818           F        30
671677  3661812           F        30
671678  3661917           M        40

[671679 rows x 3 columns]

In [4]:
age = custom.CLNT_AGE
age.describe()

count    671679.000000
mean         33.064946
std           8.380882
min          10.000000
25%          30.000000
50%          30.000000
75%          40.000000
max          80.000000
Name: CLNT_AGE, dtype: float64

In [23]:
age.value_counts()

30    313600
40    216217
20     95297
50     36624
60      5256
10      3807
70       846
80        32
Name: CLNT_AGE, dtype: int64

In [5]:
custom = custom[custom.CLNT_AGE != 70]
custom = custom[custom.CLNT_AGE != 80]
custom.head()

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30
1  4830874           F        40
2  4830975           F        30
3  4831275           F        30
4  4825325           F        30

In [6]:
custom2=custom.groupby('CLNT_GENDER').mean()

In [7]:
custom2

                  CLNT_ID   CLNT_AGE
CLNT_GENDER
F            3.372156e+06  32.828326
M            3.361534e+06  34.078710